02-JS/node_modules
02-JS/coverage
02-JS/package-lock.json

03-typescript/node_modules
03-typescript/dist
03-typescript/package-lock.json

04-multiplicacion/node_modules
04-multiplicacion/package-lock.json
04-multiplicacion/outputs

nodeJS.code-workspace